page-profile {
    .intro{
        background-color:#B22222;
        color:#fff;
        font-size:15px;
        line-height:30px;
  }

  #ulone li{
    background-color:#B22222;
    color:#fff;
    font-size:15px;
    line-height:30px;
}
#ultwo li{
    background-color:#000;
    color:#fff;
    font-size:15px;
    line-height:30px;
}
}
