

.custom{
    background-color: black;
}
#xi{
    background-color: #B22222;
      color:white;
      border:3px solid black;
}

#customs{
background-color: black;
color:white;
}

#profile{
    color:white;
}

#img{
    border-radius: 50%;
    width:50%;
}

